
:root{
    background-color: rgb(254, 255, 250);
    font-family: Montserrat, monospace;
    font-size: medium;
    max-width:100vw;
    overflow: scroll;
    padding:0;
    --FEM-magenta: #E40C7F;
    --FEM-verde: rgb(0, 114, 80);
    --FEM-blanco: #F6F6F6;
}

/*Header*/

body{
    width:100%;
    margin-top:0;
    padding:0;
    background-color: lightyellow;
}

/*Tener un divisor para contener el logo 
    y otro para contener la navegación me permite usar correctamente el flex: justify between del header.
    Le agrego padding para evitar colapsos.*/

header{
    margin:0;
    padding:0;
    width: 100%;
    background-color:var(--FEM-magenta);
}

.header-div{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.logo_div{ 
    display: flex; 
    box-sizing: border-box;
    align-items: center;
    width:25%;
    max-width:100px;
    height:auto;
    margin: 5px auto;
}
.logo{
   align-items: center;
   width:100%;
   max-height:80%;
   height: auto;
}
.nav_div{
    display: flex;
    align-items: center;
    margin-right: 3px;
    padding:3px;
    width: 30%;
    height:auto;
}
.quienes_somos{
    width: 100%;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    align-items: center;
    color:var(--FEM-blanco);
}

/*Body*/
main{
    padding: 0 10px;
    margin:0;
}
h1{
    font-family: Montserrat;
    color:var(--FEM-magenta);
    font-weight: 850;
    font-size: 2.5rem;
}

p{
    font-family: Montserrat, monospace;
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 400;
}
p strong{
    color: var(--FEM-verde);
}

/*Seccion de links*/
.links-div{
    margin: auto;
    max-width:900px;
}

#Links a{
    display:block;
    max-width: 900px;
    width:100%;
    margin: 5px;
    outline:solid var(--FEM-magenta) 2px;
    text-decoration: none;
    text-align: center;
    color:black;
    font-size: 2.2rem;
    font-weight: bold;
    border-radius: 2px;
    overflow:hidden;
}

#Links a:hover{
    background-color: var(--FEM-magenta);
    color: var(--FEM-blanco);
    box-shadow: 5px 10px var(--FEM-verde);
    transform: translateY(-10px);
    transition: 0.5s ease;
}

/*Diseño del footer*/

#footer{
    width:100%;
    max-width:100%;
    height: 10px;
    margin:0;
    overflow-x: hidden;
    
}

footer{
    width:100%;
    max-width:100%;
    margin-top:0;
    padding:0;
    overflow-x: hidden;
    
   
}
.contacto{ 
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    width: 100%;
    color: grey;
}

.nombre_contacto{
    max-width: 35%;
    color:black;
    font-weight: bold;
    text-align: left;
    color: grey;
}

.rrss{
    display:flex;
    max-width:33%;
    align-items: center;
    color: grey;
}

.rrss ul{
    list-style-type: none;
}

.nombre_red_social::before{
    content: "";
    display: inline-block;
    background-image:url(Logo_of_Twitter.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center; 
    height: 1.5rem;
    width: 1.5rem;
    align-items: first baseline;
    margin-right: 10px;
    margin-bottom: -5px;
}

.nombre_red_social{
    display:inline;
    height: 1rem;
    align-items: center;
    color: grey;
}
.seguinos{
    max-width: 33%;
    text-align: right;
    color:black;
    font-weight: bold;
    color: grey;
}
